body {
  background-color: black;
  font-family: arial;
}
h1 {
  color: white;
}
p {
  color: white;
}

#logo {
  max-width: 20%;
  height: auto;
}

#my-image { 
 max-width: 7%;
 height: auto;
 padding-right: 500px; 
} 



a:link {
  color: white;
}
a:visited {
  color: white;
}

a:hover {
  color: grey;
}

a:active {
  color: white;
}
